.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 calc(50% - 600px);
  padding-top: 130px;

  @include vp-1279 {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include vp-1199 {
    // padding: 0 calc(50% - 339px);
    padding: 0 45px;
    padding-top: 73px;
  }

  @include vp-767 {
    align-items: flex-start;
    padding: 0 15px;
    padding-top: 465px;
  }
}

.about__bg-image,
.about__image {
  position: absolute;
  z-index: -1;
}

.about__image {
  left: 0;
  top: 95px;
  width: 808px;
  height: 474px;

  @include vp-1279 {
    left: auto;
    right:37.1%;
  }

  @include vp-1199 {
    width: 685px;
    height: 402px;
    top: 77px;
    left: -211px;
    right: auto;
  }

  @include vp-767 {
    width: 685px;
    height: 402px;
    left: 0;
    right: auto;
    top: 16px;
  }

  @media (max-width: (685px)) {
    left: auto;
    right: 0;
  }

  @media (max-width: (500px)) {
    right: -35.4%;
  }
}

.about__bg-image {
  left: 57%;
  top: -71px;


  @include vp-1199 {
    display: none;
  }
}

.about__title {
  width: 48.75%;

  &::after {
    content: "О нас";
  }

  @include vp-1199 {
    width: 47.8%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.about__wrapper {
  padding-top: 55px;
  width: 48.75%;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include vp-1199 {
    width: 47.8%;
    padding-top: 35px;
    gap: 27px;
  }

  @include vp-767 {
    width: 100%;
    padding-top: 33px;
    gap: 41px;
  }
}

.about__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px;

    @include vp-767 {
      line-height: 20px;
    }
  }

  @include vp-767 {
    gap: 18px;
  }
}
