.button {
  font-weight: 500;
  color: $color-default-white;
  background-color: $color-default-blue;
  text-align: center;
  transition: background-color $trans-default;

  @include hover-focus {
    background-color: transparent;
    color: $color-hover-navy;
    box-shadow: 0 0 0 1px $color-hover-navy;

    @include active {
      background-color: $color-hover-navy;
      color: $color-default-white;
      box-shadow: none;
    }
  }

  &:disable {
    background-color: rgba(2, 102, 193, 0.1);
  }

  &--blue-text {
    padding: 22px;

    @include vp-767 {
      padding: 18px;
    }
  }
}
