.gallery__title {
  padding: 0 calc(50% - 600px);

  &::after {
    content: "Фотогалерея";
    left: calc(50% - 600px);

    @include vp-1279 {
      left: 40px;
    }

    @include vp-1199 {
      left: calc(50% - 339px);
    }

    @include vp-767 {
      left: 15px;
    }
  }

  @include vp-1279 {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.gallery__swiper {
  padding-top: 27px;

  & p {
    line-height: 24px;
    width: 68%;
    padding: 0 0 45px calc(50% - 600px);
    margin: 0;

    @include vp-1279 {
      padding-left: 40px;
    }

    @include vp-1199 {
      font-size: 14px;
      line-height: 22px;
      padding: 0 0 36px calc(50% - 339px);
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
      width: 100%;
      padding: 0 15px 64px;
    }
  }

  @include vp-1199 {
    padding-top: 26px;
  }

  @include vp-767 {
    padding-top: 15px;
  }
}

.gallery__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
}

.gallery__card {
  &--layered {
    min-width: 298px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;

    @include vp-767 {
      min-width: 172px;
      gap: 3px;
    }
  }
}

.gallery__button {
  top: 55px;

  &--next {
    right: calc(50% - 600px);

    @include vp-1279 {
      right: 40px;
    }

    @include vp-1199 {
      right: calc(50% - 339px);
    }

    @include vp-767 {
      right: auto;
      top: -39px;
      left: 268px;
    }
  }

  &--prev {
    right: calc(50% - 600px + 41px);

    @include vp-1279 {
      right: 81px;
    }

    @include vp-1199 {
      right: calc(50% - 339px + 41px);
    }

    @include vp-767 {
      right: auto;
      top: -26px;
      left: 227px;
    }
  }

  @include vp-767 {
    position: relative;
  }
}
