.main-header {
  width: 100%;
  height: 100%;

  @include vp-1199 {
    &--no-js {
      position: static;
    }
  }
}

.main-header__swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-header__slide {
  width: 100%;
  aspect-ratio: 1440 / 800;
  position: relative;

  @include vp-1199 {
    aspect-ratio: 768 / 1024;
  }

  @include vp-767 {
    aspect-ratio: 320 / 568;
  }
}

.main-header__bg-photo {
  width: 100%;
  position: absolute;
  padding-bottom: 55.55%;
  top: 0;
  left: 0;
  z-index: -1;
  // overflow: hidden;

  @include vp-1199 {
    padding-bottom: 133.33%;
  }
  @include vp-767 {
    padding-bottom: 177.5%;
  }

  & img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
    background: linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0.00) 100%);
  }
}

.main-header__inner {
  width: 100%;
  height: 100%;
  padding: 0 calc(50% - 600px);
  padding-top: 12.64%;
  padding-bottom: 5.56%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;

  @include vp-1279 {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
    padding-top: 22.66%;
    padding-bottom: 22%;
    align-items: center;
  }

  @include vp-767 {
    padding: 43.44% 15px 53.75%;
  }
}

.main-header__text {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    align-items: center;
  }
}

.main-header__multimedia {
  position: absolute;
  right: calc(50% - 600px);
  top: 37.62%;
  width: 33.47%;
  aspect-ratio: 482 / 317;
  height: auto;
  display: grid;


  @include vp-1279 {
    right: 40px;
  }

  @include vp-1199 {
    position: static;
    width: 57.55%;
    aspect-ratio: 442 / 300;
  }

  @include vp-767 {
    display: none;
  }
}

.main-header__title {
  padding-bottom: 2%;
  z-index: 3;

  @include vp-1199 {
    text-align: center;
    // padding-bottom: 15px;
  }

  @include vp-767 {
    padding-bottom: 5%;
  }
}

.main-header__description {
  margin: 0;
  padding: 0;
  padding-bottom: 2.92%;
  color: $color-default-white;
  font-size: 17px;
  line-height: 24px;
  max-width: 38.6%;

  @include vp-1279 {
    max-width: 40%;
  }

  @include vp-1199 {
    text-align: center;
    max-width: 68%;
    padding-bottom: 3.8%;
  }

  @include vp-767 {
    font-size: 15px;
    line-height: 20px;
    max-width: 98%;
    padding-bottom: 7%;
  }
}

.main-header__button {
  width: 18.33%;
  // margin-bottom: 12.5%;
  @include vp-1199 {
    width: 30.38%;
  }

  @include vp-767 {
    width: 62%;
  }
}

.main-header__features {
  display: flex;

  @include vp-1199 {
    display: none;
  }
}

.main-header__feature {
  font-size: 12px;
  line-height: 133%;
  color: $color-default-white;
  padding: 13px 20px;
  border: 1px solid rgba($color-default-white, 0.5);
  margin-right: 10px;

  & svg {
    margin-right: 4px;
  }
}

.main-header__video {
  @include vp-1199 {
    margin-bottom: 49px;
  }
}

.main-header__audio-player {
  align-self: flex-start;
  justify-self: flex-end;

  @include vp-1199 {
    margin-bottom: 110px;
    align-self: center;
    justify-self: center;
  }
}

.main-header__photo-cards {
  position: relative;
  top: -99px;
  justify-self: flex-end;

  @include vp-1199 {
    position: static;
    align-self: center;
    justify-self: center;
  }
}
