
.page-header-swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.page-header-swiper__slide {
  width: 100%;
  height: auto;
  position: relative;
}

.page-header-swiper__inner {
  width: 100%;
  height: 100%;
  padding: 0 calc(50% - 600px);
  padding-top: 77px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;

  @include vp-1279 {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include vp-1199 {
    padding: 0 45px;
    padding-top: 12.66%;
    padding-bottom: 22%;
    align-items: center;
  }

  @include vp-767 {
    padding: 19.44% 15px 37.1%;
  }
}

.page-header-swiper__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  @include vp-1199 {
    align-items: center;
  }
}

.page-header-swiper__multimedia {
  position: absolute;
  right: calc(50% - 600px);
  left: auto;
  // top: 37.62%;
  top: 28.2%;
  width: fit-content;
  height: auto;
  display: flex;

  @include vp-1279 {
    right: 40px;
  }

  @include vp-1199 {
    position: static;
    // width: 57.55%;
    // aspect-ratio: 442 / 300;
  }

  @include vp-767 {
    display: none;
  }
}

.page-header-swiper__title {
  padding-bottom: 2%;
  z-index: 3;

  @include vp-1199 {
    text-align: center;
    // padding-bottom: 15px;
  }

  @include vp-767 {
    padding-bottom: 5%;
  }
}

.page-header-swiper__description {
  max-width: 38.6%;
  padding-bottom: 35px;

  @include vp-1279 {
    max-width: 40%;
  }

  @include vp-1199 {
    max-width: 68%;
    padding-bottom: 3.8%;
  }

  @include vp-767 {
    max-width: 98%;
    padding-bottom: 7%;
  }

  & p {
    margin: 0;
    padding: 0;
    color: $color-default-white;
    font-size: 17px;
    line-height: 24px;

    @include vp-1199 {
      text-align: center;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.page-header-swiper__button {
  width: 18.33%;
  margin-bottom: 20px;
  margin-left: 1px;

  @include vp-1199 {
    width: 30.38%;
    margin-bottom: 33px;
  }

  @include vp-767 {
    width: 62%;
  }
}

.page-header-swiper__features {
  display: flex;
  margin-top: 10.83%;

  @include vp-1199 {
    display: none;
  }
}

.page-header-swiper__feature {
  font-size: 12px;
  line-height: 133%;
  color: $color-default-white;
  padding: 13px 20px;
  border: 1px solid rgba($color-default-white, 0.5);
  margin-right: 10px;

  & svg {
    margin-right: 4px;
  }
}

.page-header-swiper__video {
  @include vp-1199 {
    align-self: flex-start;
    margin-bottom: 49px;
  }
}

.page-header-swiper__audio-player {
  align-self: flex-start;
  justify-self: flex-end;

  @include vp-1199 {
    margin-bottom: 110px;
    align-self: center;
    justify-self: center;
  }
}

.page-header-swiper__photo-cards {
  position: relative;
  top: -99px;
  justify-self: flex-end;

  @include vp-1199 {
    position: static;
    align-self: center;
    justify-self: center;
  }
}
