.page-footer {
  padding: 0 calc(50% - 600px - 10px) 0 calc(50% - 600px);
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  border-top: 1px solid rgba($color-default-black, 0.2);
  background-color: $color-default-white;

  @include vp-1279 {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include vp-1199 {
    // padding: 0 calc(50% - 339px);
    padding: 0 45px;
    padding-top: 44px;
    padding-bottom: 40px;
    gap: 37px;
  }

  @include vp-767 {
    padding: 30px 20px;
    gap: 8px;
  }
}

.page-footer__top {
  width: 100%;
  display: grid;
  grid-template-columns: 205px 1fr 164px;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;

  @include vp-1199 {
    grid-template-columns: 118px 1fr;
  }

  @include vp-767 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
}

.page-footer__column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}


.page-footer__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding-right: 10px;

  @include vp-1199 {
    padding-right: 0;
  }

  @include vp-767 {
    align-items: flex-start;
  }
}

// .page-footer__inner {
//   display: flex;
//   justify-content: space-between;
//   width: 73.7%;
//   margin-right: calc(50% - 470px);
//   // width: calc(100% - 150px);

//   @include vp-1199 {
//     width: 100%;
//   }

//   @include vp-767 {
//     align-items: flex-start;
//     flex-direction: column;
//     gap: 20px;
//   }
// }

.page-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 33px;
  row-gap: 10px;

  @include vp-1199 {
    column-gap: 21px;
    margin-right: 5px;
    margin-bottom: 3px;
    justify-content: flex-end;
  }

  @include vp-767 {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;

    column-gap: 65px;
    row-gap: 13px;
  }
}

.page-footer__link {
  position: relative;
  cursor: pointer;
  padding: 5px 0;

  @include hover {
    &::before {
      content: "";
      height: 1px;
      background-color: $color-default-black;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
    }
  }

  @include focus {
    outline: 1px solid $color-default-black;
    outline-offset: 3px;
  }

  @include active {
    outline: none;

    &::before {
      display: none;
    }
  }

  &:disabled {
    color: rgba($color-default-black, 0.5);
  }

  @include vp-1199 {
    font-size: 14px;
  }
}


.page-footer__phone {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  transition: color $trans-default;
  align-self: center;

  @include hover-focus {
    outline: none;
    color: $color-hover-navy;

    @include active {
      color: #0266c1;
    }
  }

  &:disabled {
    color: rgba($color-default-black, 0.2);
  }

  @include vp-1199 {
    display: none;
  }
}

.page-footer__socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.page-footer__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
}

.page-footer__logo {
  @include focus {
    outline: 1px solid $color-default-black;
    outline-offset: 3px;
  }
}
