.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(50% - 600px);
  padding-top: 40px;
  z-index: 3;

  @include vp-1279 {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include vp-1199 {
    padding: 0;

    &--no-js,
    &--is-active {
      & .page-header__logo,
      & .page-header__phone {
        color: $color-default-black;
      }
    }

    &--is-active {
      & .page-header__top {
        position: fixed;
        background-color: $color-default-white;
        z-index: 10;
      }
    }
  }
}

.page-header__top {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 3;

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
    padding-top: 30px;
  }

  @include vp-767 {
    align-items: flex-start;
    padding: 15px 15px 0;
  }
}

.page-header__inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include vp-1199 {
    width: 60.5%;
  }

  @include vp-767 {
    width: fit-content;
    flex-direction: column;
    gap: 5px;
  }
}

.page-header__toggle {
  margin: 0;
  padding: 0;
  display: none;
  width: 26px;
  height: 26px;
  border: none;
  background: transparent;
  cursor: pointer;
  background-image: url("../img/svg/menu-toggle.svg");
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 3;
  transition: background-image $trans-default;

  &--is-active {
    background-image: url("../img/svg/menu-toggle-close.svg");
  }

  &--no-js {
    display: none;
  }

  @include vp-1199 {
    display: block;
  }
}

.page-header__logo {
  color: $color-default-white;
  transition: color $trans-default;
  padding-right: calc(100% - 205px - 145px);

  @include vp-1199 {
    padding-right: calc(100% - 144px - 136px);
  }

  @include vp-767 {
    padding-right: 0;
  }

  & svg {
    width: 205px;
    height: 62px;

    @include vp-1199 {
      width: 144px;
      height: 44px;
    }

    @include vp-767 {
      width: 112px;
      height: 34px;
    }
  }
}

.page-header__phone {
  font-size: 18px;
  font-weight: 600;
  color: $color-default-white;
  transition: color $trans-default;

  @include hover-focus {
    outline: none;
    color: $color-hover-navy;

    @include active {
      color: #0266c1;
    }
  }

  &:disabled {
    color: rgba($color-default-white, 0.1);
  }


  @include vp-1199 {
    font-size: 16px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}
