.review {
  position: relative;
  padding-left: calc(50% - 610px);

  @include vp-1279 {
    padding-left: 40px;
  }

  @include vp-1199 {
    padding-left: calc(50% - 349px);
  }

  @include vp-767 {
    padding: 0 5px;
  }
}

.review__title {
  padding-left: 10px;

  &::after {
    content: "Отзывы";
  }
}

.review__swiper {
  width: 100%;
  padding-top: 120px;

  @include vp-1199 {
    padding-top: 90px;
  }

  @include vp-767 {
    padding-top: 70px;
  }
}

.review__wrapper {
  padding-top: 17px;

  @include vp-767 {
    padding-top: 22px;
  }
}

.review__button {
  top: 129px;

  &--next {
    right: 120px;

    @include vp-1199 {
      right: 45px;
    }

    @include vp-767 {
      right: 10px;
    }
  }

  &--prev {
    right: 161px;

    @include vp-1199 {
      right: 86px;
    }

    @include vp-767 {
      right: 51px;
    }
  }

  @include vp-1199 {
    top: 95px;
  }

  @include vp-767 {
    top: 82px;
  }
}

.review__slide {
  max-width: 810px;

  @include vp-1199 {
    max-width: 580px;
  }

  @include vp-767 {
    max-width: 100%;
  }
}

.review__inner {
  margin: 10px;
  padding: 20px;
  background: $color-default-white;
  box-shadow: 0 0 10px 0 rgba(28, 51, 116, 0.1);
  display: grid;
  grid-template-columns: 258px 1fr;
  gap: 30px;

  @include vp-1199 {
    grid-template-columns: 186px 1fr;
  }

  @include vp-767 {
    max-width: 290px;
    margin: 10px auto;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.review__photo {
  width: 100%;
  height: auto;

  & img {
    object-fit: cover;
    max-width: 100%;
    height: auto;

    @include vp-767 {
      width: 100%;
    }
  }
}

.review__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 0;

  & p {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 22px;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  @include vp-1199 {
    padding: 0;
  }

  @include vp-767 {
    width: 100%;
  }
}

.review__author {
  display: flex;
  flex-direction: column;
}

.review__name {
  padding-top: 12px;
  font-size: 13px;
  font-weight: 700;

  @include vp-1199 {
    font-size: 12px;
  }

  @include vp-767 {
    padding-top: 2px;
  }
}

.review__description {
  padding-top: 8px;
  font-size: 12px;

  @include vp-1199 {
    padding-top: 6px;
  }
}

.review__bg-image {
  position: absolute;
  z-index: -1;
  top: 76%;
  left: 0;

  & img {
    width: 100%;
    height: 100%;
  }

  @include vp-1199 {
    display: none;
  }
}
