.title {
  padding: 0;
  margin: 0;
  font-weight: 800;
  line-height: 100%;

  &--large {
    font-size: 77px;
    color: $color-default-white;

    @include vp-1199 {
      font-size: 56px;
    }

    @include vp-767 {
      font-size: 30px;
    }
  }

  &--medium {
    font-size: 35px;
    color: $color-default-black;
  }

  &--small {
    font-size: 21px;
    color: $color-default-black;
  }
}
