.tours {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  padding: 0 calc(50% - 600px);

  @include vp-1279 {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
    padding-top: calc(83px - 17px);

  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.tours__title {
  display: grid;
  grid-template-columns: 1fr 78px;


  &::after {
    content: "Ближайшие туры";
  }
}

.tours__wrapper {
  padding-top: 58px;

  @include vp-1199 {
    padding-top: 46px;
  }

  @include vp-767 {
    padding-top: 28px;
  }

}

.tours__swiper {
  position: relative;
  width: 100%;
  padding-top: 119px;
  padding-bottom: 42px;

  @include vp-1199 {
    padding-top: 85px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-top: 66px;
    padding-bottom: 19px;
  }
}

.tours__button {
  top: 146px;

  @include vp-1199 {
    top: 106px;
  }

  @include vp-767 {
    top: 92px;
  }
}

.tours__link {
  width: fit-content;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-default-black;
  display: grid;
  grid-template-columns: 1fr 12px;
  gap: 12px;
  align-self: center;

  @include hover-focus {
    outline: none;
    color: $color-hover-navy;

    @include active {
      color: $color-default-blue;
    }
  }

  @include vp-767 {
    font-size: 14px;
    gap: 10px;
  }
}

.tours__bg-hills,
.tours__bg-clouds {
  position: absolute;
  z-index: -3;
}

.tours__bg-hills {
  width: 1431px;
  height: 1424px;
  top: -8px;
  left: 58.2%;

  @include vp-1199 {
    top: -95px;
    left: 61.72%;
  }

  @include vp-767 {
    top: 137px;
    left: 45%;
  }
}

.tours__bg-clouds {
  top: 502px;
  left: auto;
  right: 71%;

  @include vp-1199 {
    display: none;
  }
}
