.training-route__title,
.training-route__wrapper {
  padding: 0 calc(50% - 600px);

  @include vp-1279 {
    padding: 0 40px 0;
  }

  @include vp-1199 {
    padding: 0 calc(50% - 339px);
  }

  @include vp-767 {
    padding: 0 19px;
  }
}

.training-route__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-top: 45px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba($color-default-blue, 0.2);
  }

  @include vp-1199 {
    padding-top: 23px;
    grid-template-columns: 1fr;
    gap: 55px;

    &::before {
      visibility: hidden;
    }
  }

  @include vp-767 {
    padding-top: 30px;
    gap: 25px;

    &::before {
      visibility: visible;
      height: 70%;
      width: 1px;
      top: 50px;
      left: calc(19px + 6px);
    }
  }
}

.training-route__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  position: relative;

  @include vp-1199 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      top: auto;
      left: 0;
      bottom: 0;
      width: 60%;
      height: 1px;
      background-color: rgba($color-default-blue, 0.2);
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;

      &::before {
        top: 0;
        bottom: auto;
      }

      &::after {
        content: "";
        position: absolute;
        background-color: rgba($color-default-blue, 0.2);
        width: 1px;
        height: 55px;
        top: auto;
        left: 59.6%;
        right: auto;
        bottom: 80px;
      }

      & .training-route__card::after {
        top: -6px;
        bottom: auto;
      }
    }
  }

  @include vp-767 {
    flex-direction: column;
    gap: 25px;

    &::before {
      display: none;
    }

    &:nth-child(2n) {
      flex-direction: column;

      &::after {
        display: none;
      }

      & .training-route__card::after {
        top: calc(50% - 6px);
        left: 0;
      }
    }
  }
}

.training-route__card {
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 15px;
  max-width: 280px;
  min-height: 100%;
  padding-bottom: 32px;
  position: relative;

  & p {
    padding: 0;
    margin: 0;
    line-height: 24px;
    align-self: center;
  }

  & svg {
    align-self: center;
  }

  &::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    bottom: -7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $color-default-blue;
  }

  @include vp-1199 {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 15px;
    padding-top: 21px;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 0;
    padding-left: 34px;
    font-size: 12px;
    line-height: 18px;
    gap: 12px;

    &::after {
      top: calc(50% - 6px);
      left: 0;
      width: 13px;
      height: 13px;
    }
  }
}
