.video {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;

  &[data-is-playing="is-out"] {
    & .video__button {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      bottom: 0;
      z-index: 2;
    }
  }

  &[data-is-playing="is-playing"] {
    & .video__button {
      display: none;
    }
  }

  & img {
    object-fit: cover;
    width: 100%;
  }

  & iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  @include hover-focus {
    & .video__button{
      outline: none;
      border: 1px solid $color-hover-navy;
      background-color: rgba(118, 119, 120, 0.2);
      color: #000000;

      @include active {
        color: $color-default-white;
        background-color: $color-hover-navy;
      }
    }
  }
}



.video__button {
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 28px);;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid $color-default-white;
  background-color: rgba($color-default-white, 0.2);
  color: $color-default-white;
  cursor: pointer;
  transition: border $trans-default, color $trans-default;

  & svg {
    position: absolute;
    top: 15px;
    left: 21px;
  }
}
